.card-kanban-item {
    background-color: #2b2b1a;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    color: white;
    border: 1px solid #3f3f2d;
    font-family: var(--fonte-texto);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.card-header div{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.card-header h3 {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
}

.btn-delete-card {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 18px;
    padding: 0 5px;
}

.btn-delete-card:hover { color: #ff4d4d; }
.card-description { font-size: 12px; color: #aaa; margin-top: 5px; }